<template>
  <div class="patientMatch">
    <div v-if="msg == null">Loading..</div>
    <div v-else-if="msg != null">
      <h1>{{ msg }}</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "PatientMatch",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
