<template>
  <div id="app">
    <div class="outerPanel">
      <PatientMatch msg="Patient Matching App" />
    </div>
  </div>
</template>

<script>
import PatientMatch from "./components/PatientMatch.vue";

export default {
  name: "App",
  components: {
    PatientMatch: PatientMatch
  }
};
</script>

<style>
.limitSize {
  height: 400px;
  overflow: auto;
}

.outerPanel {
  padding: 10px;
  margin: 20px 10px;
  border: 1px solid black;
}
</style>
